*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

.container{
    width: 450px;
    height: 500px;
    border-radius: 10px;
    background-color: #fff;
}

.grid-container{
    width: 400px;
    height: 450px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 1.5rem;
}

.box{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

#box1{
    grid-column: 1 / 5;
    background-color: rgb(127, 161, 162);
}

#display{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
}

/* button styles */
.orange{
    background-color: orange;
    color: #fff;
}

.shadow{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.equal{
    grid-column: 3 / 5;
}

/* hover effect */
.box:hover{
    opacity: 0.8;
}